# Use Python3 smaller than Python3.11

mmdet==2.28.1
mmcv-full==1.7.0 -f https://download.openmmlab.com/mmcv/dist/cu117/torch1.13/index.html
numpy==1.23.1
Pillow==9.4.0
matplotlib==3.6.3
opencv-python==4.7.0.68
mmrotate==0.3.4
git+https://github.com/qubvel/segmentation_models.pytorch
ultralytics
openmim==0.3.6
# Install mmcv-full with mim
# Maybe downloaded by github pytorch?
# torch==1.12.0
# torchvision==0.13.0
 